// primary and secondarycolors

$primarycolor: #3a7326;
$secondarycolor: #ffffff;

// other colors
$primarycolorvariant: #245512;
$greenvariant: #a6dc94;
$greenvariantsecondary: #2e5c1e;
$primarytextcolor: #141513;
$secondarycolortextcolor: #3c403a;
$subtextcolor: #51564e;
$btnbordertransparent: #c1c5bf;
$btntransparentblack: #282b27;
$containerfluidbackground: #eff0ef;
$footer-rigthscolor: #838b7f;
$footer-termscolor: #656b61;
$navbar-mobileborder: #e0e2de;
// font-families
$primaryfont: 'Inter';
$secondarycolorfont: 'DM Sans';

$bordercolor: #a2a89e;

// fontweight
$primaryfontweight: 700;
$secondarycolorfontweight: 600;
$largefontweight: 500;
$mediumfontweight: 400;

$buttondropdown: #3c403a;

// linheights
$lineheightsmall: 28.4px;
$lineheightmedium: 38.4px;
$lineheightlarge: 1.75rem;
$lineheightextralarge: 2.5rem;
