.container-fluid {
  background-color: $containerfluidbackground;
  padding: 2rem 4rem;
  margin: 7rem 0rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  .fluid__textcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    &-heading {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h2 {
      }
      p {
        color: $subtextcolor;
      }
    }
    &-list {
      ul {
        display: list-item;
        list-style-type: none;
        li {
          line-height: 2rem;
          list-style-image: url("/bullet/listbullet.svg");
          color: $btntransparentblack;
        }
      }
    }
  }
  .fluid__imgarea {
    // border: 2px solid red;
    display: flex;
    align-items: center;
    .img__wrapper {
      border: 1px solid $btnbordertransparent;
      border-radius: 2rem;
      padding: 1rem;
      &--img {
        border-radius: inherit;
        position: relative;
        .img {
          border-radius: inherit;
        }
        .img__wrapper--ai {
          position: absolute;
          width: inherit;
          left: 0.001rem;
          bottom: 0.001rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .container-fluid {
    padding: 2rem 2rem;
  }
}
@media only screen and (max-width: 647px) {
  .container-fluid {
    padding: 2rem 2rem;
  }
}
